body {
    background-color: lightblue;
}

.logg {
    float: right;
}


.spm {
    background-color: rgb(196, 194, 194);
    margin-left: 15px;
    margin-top: 15px;
    border: solid black 5px;
    padding: 10px;
    border-radius: 15px;
    font-size: 1.5rem;
    max-width: 500px;
}
.covid-19 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 80px;
}
.knapp{
    margin-top: 10px;
    
   
}
.virus {
    float: right;
}
button {
    font-size: 1.3rem;
    
}